<template name="_header">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">
            <!--<img src="/seba.jpg" alt="">-->
        </a>
        
        {{#if currentUser}}           
            <ul class="right hide-on-med-and-down">
                <li><button class="create-event">Create An Event</button></li>
            </ul>  
        {{else}}
            <ul class="right hide-on-med-and-down">
                <li><a href="/register-provider">Register as Service Provider</a></li>
            </ul>
            
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Register as Customer</a></li>
            </ul> 

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link 2</a></li>
            </ul>              
        {{/if}}
        
        
        
        
        

        
        
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</template>